:root {
  --rgb-purp: 232, 102, 236,;
  --grey: rgb(201, 200, 200);
  --pad-between: 0 40px;
  --radius: 5px;
  --rgb-purple: rgba(232, 102, 236, 1)
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;    
    background-color: rgb(55, 53, 53); 
}

.card-header {  
  margin-top: -20px;
}

.card .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--rgb-purple) , 0 0 15px var(--rgb-purple);
  color: black;
}

